body {
    background-color: #0b0027;
    font-family: Arial, sans-serif;
    text-align: center;
    color: #fff;
  }
  
  .error-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
  }
  
  .error-page h1 {
    font-size: 36px;
    margin-bottom: 20px;
  }
  
  .error-page button {
    background-color: #002e08;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .error-page button:hover {
    background-color: #013b0a;
  }