body {
    background-color: #0b0027;
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
  }
  .button {
    background-color: #013b0a;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  .button:hover {
    background-color: #013b0a;
  }