body {
    font-family: Arial, sans-serif;
    background-color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.signup-container {
    background-color: #000000;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgb(255, 224, 224);
    width: 300px;
    text-align: center;
    color: #FFFFFF;
}
.signup-container h2 {
    font-size: 18px;
    margin-bottom: 10px;
}
.signup-container input[type="text"],
.signup-container input[type="email"],
.signup-container input[type="password"] {
text-align: center;
width: 100%;
padding: 2px;
margin: 5px 0;
background-color: #444444;
border: 1px solid #444444;
border-radius: 3px;
font-size: 12px;
height: 25px;
}
.signup-container input[type="submit"] {
    text-align: center;
    background-color: #4CAF50;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 16px;
}
.signup-container input[type="submit"]:hover {
    background-color: #45a049;
}